.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
table {
  width: 100%;
}

.full-width {
  font-size: 14px;
  width: 100%;
}

.drawer-container {
  width: 100%;
  height: 100%;
}

.sidenav-content {
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #3f51b5;
}

.drawer {
  width: 25%;
  border: 1px solid #3f51b5;
  display: flex;
  flex-direction: column;
}

.add-contact-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.btn-container {
  display: flex;
  align-items: center;
}

.btn-container .search-btn {
  margin-right: 8px;
  background-color: white;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.drawer span {
  font-size: 20px;
  margin-bottom: 5px;
}
.form-fields-container {
  display: flex;
  flex-direction: column;
}

.custom-action-mode {
  opacity: 0.5;
  background-color: rgb(174, 174, 174);
  z-index: 99999;
}

.edit-btn-container {
  display: flex;
  flex-direction: row;
}

.custom-w-note {
  min-width: 50px;
}

.custom-w {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 100px;
}

.menu-type {
  margin-top: 33px;
  margin-bottom: 27px !important;
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 400 !important;
}
