.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 60%;
}

.full-width {
  font-size: 14px;
  width: 100%;
}

.btn-container {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-w {
  display: flex;
  justify-content: end;
}
