.footer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.aggree-btn {
  margin-right: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-spn {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 20px;
}
.clb {
  color: #3f51b5;
}
